@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .writingMode-vertical-lr {
    writing-mode: vertical-lr;
  }
  .writingMode-vertical-rl {
    writing-mode: vertical-rl;
  }
  .writingMode-horizontal-tb {
    writing-mode: horizontal-tb;
  }
}
@font-face {
  font-family: 'Toss';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Toss.ttf') format('truetype');
}

@font-face {
  font-family: 'Notosans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/NotosansKr.ttf') format('truetype');
}
